<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello there! I'm Jennifer, a software engineer from Arizona. I've always loved a good puzzle and 
            enojoy piecing together backend solutions. I am interested in AI and machine learning and their endless
            applications that become more relevant with each passing day.</p>
      </div>
      <div class="col-lg-4">
        <p>I recently receive my Master of Science in Robotics and Autonomous Systems (AI) from ASU and my
            my undergrad in Computer Engineering from Brown University. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
