<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello there! I'm Jennifer, a software engineer from Arizona. I've always loved a good puzzle and 
            enjoy piecing together backend solutions. I am interested in AI and its endless
            applications that become more relevant with each passing day.</p>
      </div>
      <div class="col-lg-4">
        <p>I recently received my Master of Science in Robotics and Autonomous Systems (AI) from ASU and 
          completed my undergraduate degree in Computer Engineering at Brown University. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="http://linkedin.com/in/jennifer--lopez" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
